@-webkit-keyframes planeAnimation {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  25% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
  50% {
    -webkit-transform: translate(300px, -200px);
            transform: translate(300px, -200px);
  }
  75% {
    -webkit-transform: translate(400px, -250px);
            transform: translate(400px, -250px);
  }
  100% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px);
  }
}
@keyframes planeAnimation {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  25% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
  50% {
    -webkit-transform: translate(300px, -200px);
            transform: translate(300px, -200px);
  }
  75% {
    -webkit-transform: translate(400px, -250px);
            transform: translate(400px, -250px);
  }
  100% {
    -webkit-transform: translate(1000px, -1000px);
            transform: translate(1000px, -1000px);
  }
}
.first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-block__decore {
  -webkit-box-shadow: 0 0px 200px 40px #D5AEE4;
          box-shadow: 0 0px 200px 40px #D5AEE4;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  position: absolute;
  left: -5vw;
  top: 45vh;
}
.first-block__text-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
}
.first-block__text-element h2 {
  color: rgb(223, 105, 81);
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0em;
}
.first-block__text-element h1 {
  margin: 0;
  font-size: 5.25em;
  letter-spacing: -0.04em;
  text-align: left;
}
.first-block__text-element p {
  line-height: 1.875em;
  text-align: left;
}
.first-block__image-element {
  position: relative;
  background: url("../images/First-block/Traveller.png");
  width: 780px;
  min-height: 764px;
  background-repeat: no-repeat;
  margin-left: 5vw;
}
.first-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.first-block__find-out {
  height: 3.75em;
  width: 10.625em;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.4375em;
  letter-spacing: 0em;
  text-align: center;
  background-color: #F1A501;
  border-radius: 10px;
  border: solid #F1A501;
  -webkit-box-shadow: 0px 1em 2em rgba(241, 165, 1, 0.4);
          box-shadow: 0px 1em 2em rgba(241, 165, 1, 0.4);
  cursor: pointer;
}
.first-block__play-demo-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}
.first-block__play-demo-button {
  background-image: url("../images/First-block/First-block-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 3.75em;
  width: 3.75em;
  border-radius: 50%;
  background-color: rgb(223, 105, 81);
  -webkit-box-shadow: 0px 1em 2em rgba(223, 105, 81, 0.4);
          box-shadow: 0px 1em 2em rgba(223, 105, 81, 0.4);
}
.first-block__first-plane {
  position: absolute;
  top: 10%;
  right: 60%;
}
.first-block__first-plane:hover {
  -webkit-animation: planeAnimation linear 3s 1;
          animation: planeAnimation linear 3s 1;
}
.first-block__second-plane {
  position: absolute;
  top: 15%;
  right: -5%;
}
.first-block__second-plane:hover {
  -webkit-animation: planeAnimation linear 3s 1;
          animation: planeAnimation linear 3s 1;
}
.first-block__mobile-plane {
  display: none;
}

@media screen and (max-width: 900px) {
  .first-block {
    height: 60vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10vh;
    position: relative;
    background-image: url("../images/Categories/CategoryCrosses.svg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
  .first-block__decore {
    display: none;
  }
  .first-block__text-element {
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .first-block__text-element h2 {
    display: none;
  }
  .first-block__description {
    display: none;
  }
  .first-block__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-block__play-demo-element {
    width: 100%;
  }
  .first-block__image-element {
    display: none;
  }
  .first-block__mobile-plane {
    display: block;
    position: absolute;
    top: -20%;
    left: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media screen and (max-width: 550px) {
  .first-block h1 {
    font-size: 3em;
  }
}/*# sourceMappingURL=First-block.css.map */