.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-size: 1.0625em;
  font-weight: 400;
  line-height: 1.375em;
  letter-spacing: 0em;
  text-align: left;
}
.header-block__select-lang {
  position: relative;
  display: inline-block;
  margin-right: 4vw;
}
.header-block__select-lang:hover .header-block__dropdown-content {
  display: block;
}
.header-block__dropdown-content {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
}
.header-block__dropdown-content p {
  cursor: pointer;
}
.header-block__burger-menu {
  display: none;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  margin-left: 15vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.menu-block__link {
  text-decoration: none;
  color: #212832;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-block__link:hover {
  color: #2a528a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.auth-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10vw;
}
.auth-block__login {
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.auth-block__login:hover {
  color: #2a528a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.auth-block__sign-up {
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 0.5em 1.2em;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 1.0625em;
  font-weight: 500;
  line-height: 1.375em;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.auth-block__sign-up:hover {
  color: #2a528a;
  border: 1px solid #2a528a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .auth-block {
    display: none;
  }
  .header-block {
    padding: 5vh 5vw;
    display: grid;
    background-color: #FFF1DA;
    grid-template-columns: 5fr 1fr 1fr;
  }
  .header-block__burger-menu {
    display: block;
  }
  .menu-block {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-block a {
    color: #737373;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 2.8125em;
  }
}/*# sourceMappingURL=header.css.map */