$base-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
$hover-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.2);
$decore-shadow: 0 0px 200px 80px #D5AEE4;
$base-transition-time: 0.3s;
$find-out-button-color : rgb(241, 165, 1);
$play-demo-button-color: rgb(223, 105, 81);
$mobile-background-color: #FFF1DA;
$progress-bar-collor : #8a79df;
$almoust-black-text:rgb(8, 8, 9);
$header-text-color: #212832;
$header-text-color-hover: #2a528a;
$base-text-color: #5e6282;
