@import "mixins";

footer{
    margin-top: 20vh;
    position: relative;    
}

.footer-block{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;

    img{
        cursor: pointer;
    }

    p{
        text-align: left;
    }

    &__logo{
        font-size: 2.75em;
        font-weight: 500;
        color: #181E4B;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__creed{
        font-size: 0.8em;
        line-height: 1em;
    }

    &__menu{
        display: flex;
        width: 40%;
        justify-content: space-around;
        p{
            cursor: pointer;
        }
    }
    
    &__menu-category{
        color: $almoust-black-text;
        font-size: 1.3125em;
        font-weight: 700;
        line-height: 1.625em;        
    }

    &__social-and-apps{
        margin-top: 25px;
    }

    &__social{
        display: flex;
        justify-content: space-around;
        margin-bottom: 35px;
    }

    &__apps{
        font-size: 1.3125em;
    }
}

.footer__decore{
    box-shadow: $decore-shadow;
    width: 5vw;
    position: absolute;
    right: -5vw;
}


@media screen and (max-width: 900px) {
    footer{
        margin-top: 10vh;
        background-color: $mobile-background-color;
        padding-bottom: 20px;
    }
    .footer-block{
        @include flex-column;
        &__menu{
            flex-direction: column;
            margin-left: 8%;
        }
    }
    .footer__decore{
        display: none;
    }
}