body{
    font-family: 'Poppins', sans-serif;
    padding: 5vh 5vw 5vh 10vw;
    background-image: url("../images/Header/DecoreHeader.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

h1{
    font-family: 'Volkhov', serif;
    font-size: 3.125em;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(20, 24, 62);
}

p{
    color: rgb(94, 98, 130);
    font-size: 1em;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0em;
    text-align: center;
}

h3{
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.6875em;
    letter-spacing: 0em;
    color: rgb(94, 98, 130);
}

