body{
    font-family: 'Poppins', sans-serif;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

h1{
    font-family: 'Volkhov', serif;
    font-size: 3.125em;
    font-weight: 700;
    line-height: 4.0625em;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(20, 24, 62);
}

p{
    color: rgb(94, 98, 130);
    font-size: 1em;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0em;
    text-align: center;
}

.header-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #212832;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0625em;
    font-weight: 400;
    line-height: 1.375em;
    letter-spacing: 0em;
    text-align: left;
    &__select-lang{
        position: relative;
        display: inline-block;
        &:hover{
            .header-block__dropdown-content{
                display: block;
            }
        }
    }
    &__dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
    }
    
}

.menu-block{
    display: flex;
    &__link{
        text-decoration: none;
    }    
}

.auth-block{
    display: flex;
    &__login{
        font-weight: 500;
    }
    &__sign-up{
        border: 1px solid rgb(33, 40, 50);
        background-color: transparent;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.0625em;
        font-weight: 500;
        line-height: 1.375em;
        letter-spacing: 0em;
        text-align: center;
    }
}

.first-block{
    display: flex;
    &__text-element{
        display: flex;
        flex-direction: column;
    
        h2{
            color: rgb(223, 105, 81);
            font-size: 1.25em;
            font-weight: 700;
            line-height: 1.875em;
            letter-spacing: 0em;
        }
    
        h1{
            font-size: 5.25em;
            line-height: 90px;
            letter-spacing: -0.04em;
            text-align: left;
        }
        p{
            line-height: 1.875em;
            text-align: left;
        }
    }

    &__buttons{
        display: flex;
    }

    &__find-out{        
        height: 3.75em;
        width: 10.625em;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.4375em;
        letter-spacing: 0em;
        text-align: center;
        background-color: #F1A501;
        border-radius: 10px;
        border: solid #F1A501;
        box-shadow: 0px 1em 2em rgba(241, 165, 1, 0.4);
    }

    &__play-demo{
        display: flex;
    }
}

