@import "mixins";

.subscribe-block{
    margin-top: 15vh;
    position: relative;

    &__box{
        height: 30vh;
        min-height: 400px;
        background-color: rgba(223, 215, 249, 0.2);
        background-image: url("../images/Subscribe/subscribe-left-decor.svg"), url("../images/Subscribe/subscribe-right-decor.svg");
        background-position: -8% 100%, 100% 0%;
        background-repeat: no-repeat, no-repeat;
        border-top-left-radius: 120px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        @include flex-column;

        img{
            position: relative;
            left: 50%;
            top: -5%;
        }
    }
    
    &__text{
        font-size: 2.0625em;
        font-weight: 600;
        color:$base-text-color;
    }

    &__input-element{
        height: 15%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    input{
        width: 30%;
        height: 100%;
        border: none;
        border-radius: 5px;
        padding-left: 30px;
    }

    button{
        margin-left: 3%;
        width: 10%;
        height: 100%;
        border: none;
        border-radius: 5px;
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        color: #FFF;
        cursor: pointer;
    }

    &__decore{
        position: absolute;
        left: -50%;
    }
}

@media screen and (max-width: 900px) {
    .subscribe-block{
        margin-top: 10vh;
        &__text{
            display: none;
        }
        &__box{
            background-color: #FFF;
            background-image: none;
            height: 50px;
            min-height: 50px;
            img{
                position: absolute;
                left: 70%;
                top: 1px;
                height: 56px;
            }
        }
        &__input-element{
            input{
                display: none;
            }
            button{
                height: 56px;
                margin-left: 0;
                width: 150px;
                border-radius: 10px;
            }
        }
        &__decore{
            display: none;
        }
    }
}